:root {
    --blue: #2e6ec3;
    --light-blue: #abcefa;
    --light-second-blue: #dfe8fe;
    --bg-blue: #42a5f5;
    --second-white: #f2f2f2;
    --gray: gray;
    --white: white;
    --black: black;
    --red: #ff5b5b;
    --green: #3ccc7b;
    --disabled-btn: #7499d5;
}
